<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.gammas.jface.genericviewer"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.gammas.jface.genericviewer/css/default.css">
         </property>
         <property
               name="appName"
               value="de.gammas.jface.genericviewer">
         </property>
      </product>
   </extension>

</plugin>
